.input_mem_info
  .input_mem_info__top_contents
    .input_mem_info__top_contents__box
      .input_mem_info__top_contents__box__free_icon
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 281.19 84.08"><defs><style>.cls-1{fill:#dc4912;stroke:#fff;stroke-miterlimit:10;}.cls-2{font-size:48px;fill:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}</style></defs><title>アセット 3</title><g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1"><polygon class="cls-1" points="36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"/><polyline class="cls-1" points="0.5 21.31 36.41 42.04 72.32 21.31"/><polyline class="cls-1" points="36.41 83.5 36.41 49.36 36.41 42.04"/><line class="cls-1" x1="36.41" y1="52.41" x2="0.5" y2="31.67"/><line class="cls-1" x1="72.32" y1="33.2" x2="36.41" y2="50.88"/><text class="cls-2" transform="translate(86.41 62.77)">Fmarket</text></g></g></svg>
      .input_mem_info__top_contents__box__progress_bar
        %ul.progress_bar
          %li.progress_bar__active
            会員情報
            %div.progress_status
          %li.progress_bar__active
            電話番号認証
            %div.progress_status
          %li.progress_bar__active
            お届け先住所入力
            %div.progress_status
          %li.progress_bar__active
            支払い方法
            %div.progress_status
          %li.progress_bar__active
            完了
            %div.progress_status


  .input_mem_info__bottom_contents
    %h2.bottom_contents_head 会員情報入力

    = form_for(@user, url:  users_signup_sms_confirmation_path(@user), html: {method: "get"}) do |f|
      = render "devise/shared/error_messages", resource: @user  
      .input_mem_info__bottom_contents__main_form
        .input_mem_info__bottom_contents__main_form__group
          .input_mem_info__bottom_contents__main_form__group__top_contents
            .input_mem_info__bottom_contents__main_form__group__top_contents__string
              %h2 ニックネーム
            .input_mem_info__bottom_contents__main_form__group__top_contents__essential_icon
              必須
          = f.text_field :nickname, placeholder: "例) フリマ太郎",class:"input_mem_info__bottom_contents__main_form__group__bottom_content"
        .input_mem_info__bottom_contents__main_form__group
          .input_mem_info__bottom_contents__main_form__group__top_contents
            .input_mem_info__bottom_contents__main_form__group__top_contents__string
              %h3 メールアドレス
            .input_mem_info__bottom_contents__main_form__group__top_contents__essential_icon
              必須
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"PC・携帯どちらでも可",class:"input_mem_info__bottom_contents__main_form__group__bottom_content"

        .input_mem_info__bottom_contents__main_form__group
          .input_mem_info__bottom_contents__main_form__group__top_contents
            .input_mem_info__bottom_contents__main_form__group__top_contents__string
              %h3 パスワード
            .input_mem_info__bottom_contents__main_form__group__top_contents__essential_icon
              必須
          = f.password_field :password, autocomplete: "new-password",placeholder:"7文字以上の半角英数字",class:"input_mem_info__bottom_contents__main_form__group__bottom_content"



          .input_mem_info__bottom_contents__main_form__group__valid
            ※ 英字と数字の両方を含めて設定してください
          .input_mem_info__bottom_contents__main_form__group__check_box
            パスワードを表示する
            = check_box_tag :check1 do
              = label_tag :check1, "パスワードを表示する"


        .input_mem_info__bottom_contents__main_form__identity_verification
          %h1 本人確認
          安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。


        .input_mem_info__bottom_contents__main_form__real_name
          .input_mem_info__bottom_contents__main_form__real_name__top_contents
            .input_mem_info__bottom_contents__main_form__real_name__top_contents__string
              %h1 お名前(全角)
            .input_mem_info__bottom_contents__main_form__real_name__top_contents__essential_icon
              必須
          .input_mem_info__bottom_contents__main_form__real_name__bottom_contents
            = f.text_field :last_name,placeholder:"例) 山田", class:"input_mem_info__bottom_contents__main_form__real_name__bottom_contents__last_name"
            = f.text_field :first_name,placeholder:"例) 太郎", class:"input_mem_info__bottom_contents__main_form__real_name__bottom_contents__first_name"


        .input_mem_info__bottom_contents__main_form__real_name
          .input_mem_info__bottom_contents__main_form__real_name__top_contents
            .input_mem_info__bottom_contents__main_form__real_name__top_contents__string
              %h お名前カナ(全角)
            .input_mem_info__bottom_contents__main_form__real_name__top_contents__essential_icon
              必須
          .input_mem_info__bottom_contents__main_form__real_name__bottom_contents
            = f.text_field :last_name_kana,placeholder:"例) ヤマダ", class:"input_mem_info__bottom_contents__main_form__real_name__bottom_contents__last_name"
            = f.text_field :first_name_kana,placeholder:"例) タロウ", class:"input_mem_info__bottom_contents__main_form__real_name__bottom_contents__first_name"


        .input_mem_info__bottom_contents__main_form__birth_day
          .input_mem_info__bottom_contents__main_form__birth_day__top_contents
            .input_mem_info__bottom_contents__main_form__birth_day__top_contents__string
              %h1 生年月日
            .input_mem_info__bottom_contents__main_form__birth_day__top_contents__essential_icon
              必須
          .input_mem_info__bottom_contents__main_form__birth_day__bottom_contents
            .birthday_select_wrap
              %i.icon_arrow_bottom
              != sprintf(f.date_select(:birthday, start_year: (Time.now.year), end_year: (Time.now.year - 119), default: Date.new((Time.now.year)), prompt: "--", use_month_numbers: true, date_separator:'%s'),'年 ','月 ')+'日'
            %p.caution ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

      .input_mem_info__bottom_contents__bottom_form
        .input_mem_info__bottom_contents__bottom_form__top-content
          %p 「次へ進む」のボタンを押すことにより、
          = link_to "#", class: "rule" do
            = "利用規約"
          に同意したものとみなします。
            
            
        
        = f.submit "次へ進む",class:"input_mem_info__bottom_contents__bottom_form__submit_btn"
        .input_mem_info__bottom_contents__bottom_form__middle_content
          = link_to "#", class: "about_register" do
            %p.about_register 本人情報の登録について >


      .input_mem_info__bottom_contents__bottom_form__bottom_content
        %p
        This site is protected by reCAPTCHA and the Google
        %a.privacy_font{href: "https://policies.google.com/privacy"} Privacy Policy
        and
        %a.privacy_font{href: "https://policies.google.com/terms"} Terms of Service
        apply.
