.signup_address
  = render "/devise/shared/signup_header_2"

  .step3_1__bottom_contents
    .step3_1__bottom_contents__top
      %h2.top_string 電話番号の確認
    .step3_1__bottom_contents__bottom
      = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
        .step3_1__bottom_contents__bottom__box
        
          .step3_1__bottom_contents__bottom__box__phone_num
            %p 携帯電話の番号
          = f.text_field :phone, placeholder: '携帯電話の番号を入力', class: "step3_1__bottom_contents__bottom__box__input" 
          .step3_1__bottom_contents__bottom__box__text
            %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          
          = f.submit "SMSを送信する", class:'step3_1__bottom_contents__bottom__box__submit_sms'
          .step3_1__bottom_contents__bottom__box__submit_bottom
            %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。
          .step3_1__bottom_contents__bottom__box__most_bottom
            = link_to "#", class: "most_bottom_link" do
              %p.most_bottom_link 電話番号の確認が必要な理由 >

  = render "/items/sheard/icon_footer"
