.user_sign_up_header
  = render "/items/sheard/icon_header"
  .user_sign_up_main
    %section.content_box
      %h2.top_registration 新規会員登録

      .registration_form
        .registration_form__contents
          = link_to users_signup_registration_path,class:"btn_mail" do
            %i.far.fa-envelope
            メールアドレスで登録する
          %button#facebook-login.btn-default.btn_facebook
            %i.fab.fa-facebook-square
            = link_to 'Facebookで登録', user_facebook_omniauth_authorize_path, method: :post, class: "fb_registration"
          %button#google-login.btn-default.btn_googl
            %i.fab.fa-google
            = link_to 'Googleで登録', user_google_oauth2_omniauth_authorize_path, method: :post, class: "google_regostration"
  
  .user_sign_footer
    = render "/items/sheard/icon_footer"