= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .login_page
    %body
      .main_container
        = render "/items/sheard/icon_header"
          
        %main.user_login_main
          %section.contents
          
            .new_user
              %p.new_user_acount アカウントをお持ちでない方はこちら
              .new_user_bottom 
                %link_to 新規会員登録

            .login_form
              %button#facebook_login.btn-default1.btn_facebook
                %i.fab.fa-facebook-square
                Facebookでログイン
              %button#google-login.btn-default1.btn_googl
                %i.fab.fa-google
                Googleでログイン


            .form_content
              .bottom_contents
                = f.email_field :email, autocomplete: "email", class:'login_mail',placeholder:'メールアドレス'
                = f.password_field :password, autocomplete: "new-password", class:'login_password',placeholder:'パスワード'
                -# = recaptcha_tags
                .sample
                = f.submit 'ログイン', class: "login_button"
                .forget_password パスワードをお忘れの方
          = render "/items/sheard/icon_footer"