.mypage
  = render "items/header"

  .mypage_html
    .mypage_index
      = render "side_content"
      = render "main_content"

  %section
    = render "items/bottom_image"
    = render "items/footer"