.mypage
  = render "items/sheard/header"
  .mypage_html
    .mypage_index
      = render "side_content"

      .item_screen
        .item_screen__body_header
          出品した商品
        .item_screen__tag
          .item_screen__tag__on
            出品中
          .item_screen__tag__off
            取引中
          .item_screen__tag__off
            売却済み

        .item_screen__items
          = link_to "@items" ,selling_mypages_path
          .item_screen__items__img
          .item_screen__items__name
            -# - @items.each do |item|
            -#   = item.name
            .item_screen__items__icons
              <i class="fas fa-heart"></i>
              .item_screen__items__icons__comment
                11
              .item_screen__items__icons__icon
              <i class="far fa-comment-alt"></i>
              .item_screen__items__icons__comment
                22
              .item_screen__items__icons__selling
                出品中

        .item_screen__items
          = link_to "@items" ,selling_mypages_path
          .item_screen__items__img
          .item_screen__items__name
            .item_screen__items__icons
              <i class="fas fa-heart"></i>
              .item_screen__items__icons__comment
                11
              .item_screen__items__icons__icon
              <i class="far fa-comment-alt"></i>
              .item_screen__items__icons__comment
                22
              .item_screen__items__icons__selling
                出品中

        .item_screen__items
          = link_to "@items" ,selling_mypages_path
          .item_screen__items__img
          .item_screen__items__name
            .item_screen__items__icons
              <i class="fas fa-heart"></i>
              .item_screen__items__icons__comment
                11
              .item_screen__items__icons__icon
              <i class="far fa-comment-alt"></i>
              .item_screen__items__icons__comment
                22
              .item_screen__items__icons__selling
                出品中

        .item_screen__items
          = link_to "@items" ,selling_mypages_path
          .item_screen__items__img
          .item_screen__items__name
            .item_screen__items__icons
              <i class="fas fa-heart"></i>
              .item_screen__items__icons__comment
                11
              .item_screen__items__icons__icon
              <i class="far fa-comment-alt"></i>
              .item_screen__items__icons__comment
                22
              .item_screen__items__icons__selling
                出品中

        .item_screen__items
          = link_to "@items" ,selling_mypages_path
          .item_screen__items__img
          .item_screen__items__name
            .item_screen__items__icons
              <i class="fas fa-heart"></i>
              .item_screen__items__icons__comment
                11
              .item_screen__items__icons__icon
              <i class="far fa-comment-alt"></i>
              .item_screen__items__icons__comment
                22
              .item_screen__items__icons__selling
                出品中

  %section
    = render "items/sheard/bottom_image"
    = render "items/sheard/footer"
















