.mypage
  = render "items/header"
  
  - breadcrumb :logout
  = render "layouts/breadcrumbs"

  .mypage_html
    .mypage_index
      = render "side_content"

    .logout
      .logout__main
        .logout__main__btn
          %p ログアウト

  %section
    = render "items/bottom_image"
    = render "items/footer"