.mypage
  = render "items/sheard/header"

  - breadcrumb :mypage
  = render "layouts/breadcrumbs"
  
  .mypage_html
    .mypage_index
      = render "side_content"
    .mypage_edit_main
      .mypage_edit_main__profile
        プロフィール
      .mypage_edit_main__background
        .mypage_edit_main__background__contents
          .mypage_edit_main__background__contents__icon
            %i.far.fa-smile
          .mypage_edit_main__background__contents__input
            名前の記入
      .mypage_edit_main__text
        テスト
      .mypage_edit_main__btn
        変更する


  %section
    = render "items/sheard/bottom_image"
    = render "items/sheard/footer"