.mypage
  = render "items/sheard/header"
  - breadcrumb :mypage
  = render "layouts/breadcrumbs"
  .mypage_html
    .mypage_index
      = render "side_content"
    .mypage_edit_main
      .mypage_edit_main__profile
        プロフィール
      .mypage_edit_main__background
        %form
        .mypage_edit_main__background__contents
          .mypage_edit_main__background__contents__icon
            %figure
              = image_tag '/icon/mypage_icon.jpeg', size: '60x60', alt: 'user-icon', class:"user-icon"
          .mypage_edit_contents__input
            %input{type: "text", class: "input-default", placeholder: "例)tomatoマン"}
      .mypage_edit_main__text
        %textarea{class:"textarea-default", name: "introduction", placeholder: "例)こんにちは☆ ご覧いただきありがとうございます！断捨離するため、メイク用品中心に出品しています。飽き性で新しもの好きです。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪"}
        %input{type: "hidden", value: "https://www.mercari.com/jp/mypage/profile/", name: "after_save_callback"}
      .mypage_edit_main__btn
        %input{type: "submit", value: "変更する", class: "btn-default btn-red"}


  %section
    = render "items/sheard/bottom_image"
    = render "items/sheard/footer"
    