.sell_item_html
  = render "/items/sheard/icon_header"

  // 商品フォームヘッダー
#edit_item
  .item
    .item__title
      %h2.edit_title 商品の情報を入力
    = form_for @item do |f|
      .item__img
        %ul.edit_ul
          %li
            %h3 出品画像
          %li
            .required__icon 必須
        .clearfix
        %p.max_10 最大10枚までアップロードできます

        = f.fields_for :images, @item.images.first do |image|
          .item__img__dropzone.clearfix
            #preview
            -# １〜５枚目プレビュー表示
            .item__img__dropzone__input
              = image.label :image, for: "upload-image" do
                .input-area
                  = image.file_field :image_url, id: "upload-image", class: "upload-image", 'data-image': 0

                .item__img__dropzone__input__description
                  .item__img__dropzone__input__description__text
                    -# ドラッグアンドドロップ
                    -# %br
                    -# またはクリックしてファイルをアップロード

          .item__img__dropzone2.clearfix
            #preview2
            -# ６〜１０枚目プレビュー表示
            .item__img__dropzone2__input2
              = image.label :image, for: "upload-image" do
                .input-area
                  = image.file_field :image_url, id: "upload-image", class: "upload-image", 'data-image': 0
                .item__img__dropzone2__input2__description
                  .item__img__dropzone2__input2__description__text
                    -# ドラッグアンドドロップ
                    -# %br
                    -# またはクリックしてファイルをアップロード





        // 商品名入力
        .sell_content 
          .sell_content_form_group
            %label.sell_name
              = f.label :name do
                商品名
              %span.form-require
                必須
            = f.text_field :name, required: true, class: "sell_form_name", placeholder: "商品名（必須40文字まで）"
          .sell_content_item_group
            %label.sell_item_description
              = f.label :description do
                商品の説明
              %span.form-require
                必須
            = f.text_area :description,required: true, class: "sell_item_textarea", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"

        // 商品詳細
        .sell_detail_content
          .sell_detail_content__head
            商品の詳細
          .sell_detail_content__box
            .sell_detail_content__box__form

              -# 商品カテゴリー
            .listing-form-box
              .listing-product-detail__category
                = f.label :category_id do
                  カテゴリー
                %span.form-require 必須
                .listing-select-wrapper
                  .listing-select-wrapper__box
                    = f.select :category_id,@category_parent_array, {}, {class: 'listing-select-wrapper__box--select', required: true, id: 'parent_category'}
                    %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down
                

              .sell_item_detail_box_form_group
                %label.item_status
                  = f.label :size_id, "サイズ"
                  %span.form-require
                    任意
                .category_select_wrap
                  %i.icon_arrow_bottom
                    = f.select :size_id, Item.sizes.keys,{prompt: '---'}

              .sell_item_detail_box_form_group
                %label.item_status
                  = f.label :brand_id, "ブランド"
                  %span.form-require
                    任意
                .category_select_wrap
                  %i.icon_arrow_bottom
                    = f.select :brand_id, Item.brands.keys,{prompt: '---'}

              -# 商品ステータス
              .sell_item_detail_box_form_group
                %label.item_status
                  = f.label :condition_id, "商品の状態"
                  %span.form-require
                    必須
                .category_select_wrap
                  %i.icon_arrow_bottom
                    = f.select :condition_id, Item.conditions.keys,{prompt: '---'},required: true
                    
        -# 配送について
        .shipping_item_content
          .shipping_item_content__head
            配送について
          .shipping_item_content__box
            .shipping_item_content__box__form

              .shipping_item_content__box__form_group
                %label.shipping_charge
                  = f.label :delivery_charge_id, "配送料の負担"
                  %span.form-require
                    必須
                .category_select_wrap
                  %i.icon_arrow_bottom
                    = f.select :delivery_charge_id, Item.delivery_charges.keys,{prompt: '---'},required: true
                  
              .shipping_item_content__box__form_group
                %label.shipping_charge
                  = f.label :prefecture_id, "配送元地域"
                  %span.form-require
                    必須
                .category_select_wrap
                  %i.icon_arrow_bottom
                    = f.select :prefecture_id, Item.prefectures.keys,{prompt: '---'},required: true

              .shipping_item_content__box__form_group
                %label.delivery_way_id
                  = f.label :delivery_way_id, "配送の方法"
                  %span.form-require
                    必須
                .category_select_wrap
                  %i.icon_arrow_bottom
                    = f.select :delivery_way_id, Item.delivery_ways.keys,{prompt: '---'},required: true

              .shipping_item_content__box__form_group
                %label.shipping_charge
                  = f.label :delivery_days_id, "発送までの日数"
                  %span.form-require
                    必須
                .category_select_wrap
                  %i.icon_arrow_bottom
                    = f.select :delivery_days_id,Item.delivery_days.keys,{prompt: '---'},required: true
                    
        .item_price_content
          .item_price_content__head
            販売価格(300〜9,999,999)

          .item_price_content__box
            .item_price_content__box__form
              %label.item_price
                = f.label :price, "価格"
                %span.form-require
                  必須
              .item_price_input
                %p.price¥
                .input_price
                  -# %input#price_calc.price_form-box{value: @item.price, type: "number"}
                  = f.number_field :price, class: "price_form-box", id: "price_calc"

              .item_handling_charge
                販売手数料 (10%)
                .right_bar

              .sell_profit
                .sell_profit__left
                  販売利益
                  -# = f.number_field :price, style: "display: none", id: "price"
                  %input#price{style: "display: none"}
                .right_bar_2

        .sell_btn_box
          .caution
          %p.caution 禁止されている出品,行為を必ずご確認ください。
          %p.caution またブランド品でシリアルナンバー等がある場合はご記載ください。
          %p.caution 偽ブランドの販売,は犯罪であり処罰される可能性があります。
          %p.caution また、出品をもちまして,加盟店規約,に同意したことになります。
          
          .sell_btn
            = f.submit "編集する", class: 'sell__about__bottom-btn submit edit_sub'
          .back_btn
            戻る

  = render "/items/sheard/icon_footer"

