.wrapper
  = render "/items/sheard/header"
  = render "/items/sheard/seller_btn"
  = render "/items/sheard/top_image"
  = render "/items/sheard/popular_catedory"
  -# = render "popular_brand"
  = render "/items/sheard/bottom_image"
  = render "/items/sheard/footer"

