.sell_item_html
  = render "icon_header"

  // 商品フォームヘッダー
  .sell_form
    .sell_form__main
      %h2.sell_form__main__head  
        商品の情報を入力
      
      .sell_form_content
      = form_for(@item) do |f|

        // 画像アップロード
        .sell_form__main__box
          .sell_upload_box 
            
            %h3.sell_upload_box__head
              = f.label :image, "出品画像"
              %span.form-require
                必須
            %p.info 最大10枚までアップロードできます
            .sell_dropbox
              ドラッグアンドドロップ
              %br
              またはクリックしてファイルをアップロード
              .image-box__container
                = f.fields_for :images do |i|
                  .input-area
                    = i.file_field :image, type: 'file', name: "item[images_attributes][][image_url]", value:"", style: "display:block"
                    %i.fas.fa-camera


        // 商品名入力
        .sell_content 
          .sell_content_form_group
            %label.sell_name
              = f.label :name, "商品名"
              %span.form-require
                必須
            = f.text_field :name, class: "sell_form_name", placeholder: "商品名（必須40文字まで）"
          .sell_content_item_group
            %label.sell_item_description
              = f.label :description, "商品の説明"
              %span.form-require
                必須
            = f.text_area :description, class: "sell_item_textarea", placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"

        // 商品詳細
        .sell_detail_content
          .sell_detail_content__head
            商品の詳細
          .sell_detail_content__box
            .sell_detail_content__box__form

              -# 商品カテゴリー
            .listing-form-box
              .listing-product-detail__category
                = f.label :category_id, class: 'listing-default__label'
                %span.form-require 必須
                .listing-select-wrapper
                  .listing-select-wrapper__box
                    = f.select :category_id, @category_parent_array, {}, {class: 'listing-select-wrapper__box--select', id: 'parent_category'}
                    %i.fas.fa-chevron-down.listing-select-wrapper__box--arrow-down

              -# 商品ステータス
              .sell_item_detail_box_form_group
                %label.item_status
                  = f.label :condition_id, "商品の状態"
                  %span.form-require
                    必須
                .category_select_wrap
                  %i.icon_arrow_bottom
                    = f.select :condition_id, Item.conditions.keys,{prompt: '---'}

        -# 配送について
        .shipping_item_content
          .shipping_item_content__head
            配送について
          .shipping_item_content__box
            .shipping_item_content__box__form

              .shipping_item_content__box__form_group
                %label.shipping_charge
                  = f.label :delivery_charge_id, "配送料の負担"
                  %span.form-require
                    必須
                .category_select_wrap
                  %i.icon_arrow_bottom
                    = f.select :delivery_charge_id, Item.delivery_charges.keys,{prompt: '---'}

              .shipping_item_content__box__form_group
                %label.shipping_charge
                  = f.label :prefecture_id, "配送元地域"
                  %span.form-require
                    必須
                .category_select_wrap
                  %i.icon_arrow_bottom
                    = f.select :prefecture_id, Item.prefectures.keys,{prompt: '---'}
              

                    


              .shipping_item_content__box__form_group
                %label.delivery_way_id
                  = f.label :delivery_way_id, "配送の方法"
                  %span.form-require
                    必須
                .category_select_wrap
                  %i.icon_arrow_bottom
                    = f.select :delivery_way_id, Item.delivery_ways.keys,{prompt: '---'}


              .shipping_item_content__box__form_group
                %label.shipping_charge
                  = f.label :delivery_days_id, "発送までの日数"
                  %span.form-require
                    必須
                .category_select_wrap
                  %i.icon_arrow_bottom
                    = f.select :delivery_days_id, Item.delivery_days.keys,{prompt: '---'}
                  
                    
        -# 販売価格
        .item_price_content
          .item_price_content__head
            販売価格(300〜9,999,999)
          .item_price_content__box
            .item_price_content__box__form
              %label.item_price
                = f.label :price, "価格"
                %span.form-require
                  必須
              .item_price_input
                %p.price¥
                .input_price
                  = f.text_field :price, { class: 'input-default',id: 'price', placeholder: '例）300',  value: '' }
              .item_handling_charge
                販売手数料 (10%)
              .sell_profit
                .sell_profit__left
                  販売利益
                .sell_profit___right
                  
        .sell_btn_box
          .caution
          %p.caution 禁止されている出品,行為を必ずご確認ください。
          %p.caution またブランド品でシリアルナンバー等がある場合はご記載ください。
          %p.caution 偽ブランドの販売,は犯罪であり処罰される可能性があります。
          %p.caution また、出品をもちまして,加盟店規約,に同意したことになります。
          
          .sell_btn
            = f.submit "出品する", class: 'sell__about__bottom-btn submit'
          .back_btn
            戻る

  = render "icon_footer"

