.input_mem_info
  .input_mem_info__top_contents
    .input_mem_info__top_contents__box
      .input_mem_info__top_contents__box__free_icon
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 281.19 84.08"><defs><style>.cls-1{fill:#dc4912;stroke:#fff;stroke-miterlimit:10;}.cls-2{font-size:48px;fill:#231815;font-family:YuGo-Bold-83pv-RKSJ-H, YuGothic;}</style></defs><title>アセット 3</title><g id="レイヤー_2" data-name="レイヤー 2"><g id="レイヤー_1-2" data-name="レイヤー 1"><polygon class="cls-1" points="36.41 83.5 0.5 62.77 0.5 21.31 36.41 0.58 72.32 21.31 72.32 62.77 36.41 83.5"/><polyline class="cls-1" points="0.5 21.31 36.41 42.04 72.32 21.31"/><polyline class="cls-1" points="36.41 83.5 36.41 49.36 36.41 42.04"/><line class="cls-1" x1="36.41" y1="52.41" x2="0.5" y2="31.67"/><line class="cls-1" x1="72.32" y1="33.2" x2="36.41" y2="50.88"/><text class="cls-2" transform="translate(86.41 62.77)">Fmarket</text></g></g></svg>
      .input_mem_info__top_contents__box__progress_bar
        %ul.progress_bar
          %li.progress_bar__active
            会員情報
            %div.progress_status
          %li.progress_bar__active
            電話番号認証
            %div.progress_status
          %li.progress_bar__active
            お届け先住所入力
            %div.progress_status
          %li.progress_bar__active
            支払い方法
            %div.progress_status
          %li.progress_bar__active
            完了
            %div.progress_status


  .input_mem_info__bottom_contents
    %h2.bottom_contents_head 会員情報入力


    .input_mem_info__bottom_contents__main_form
      .input_mem_info__bottom_contents__main_form__group
        .input_mem_info__bottom_contents__main_form__group__top_contents
          .input_mem_info__bottom_contents__main_form__group__top_contents__string
            %h2 ニックネーム
          .input_mem_info__bottom_contents__main_form__group__top_contents__essential_icon
            %p 必須
        .input_mem_info__bottom_contents__main_form__group__bottom_content
          %p 例) フリマ太郎


      .input_mem_info__bottom_contents__main_form__group
        .input_mem_info__bottom_contents__main_form__group__top_contents
          .input_mem_info__bottom_contents__main_form__group__top_contents__string
            %h3 メールアドレス
          .input_mem_info__bottom_contents__main_form__group__top_contents__essential_icon
            %p 必須
        .input_mem_info__bottom_contents__main_form__group__bottom_content
          %p PC・携帯どちらでも可


      .input_mem_info__bottom_contents__main_form__group
        .input_mem_info__bottom_contents__main_form__group__top_contents
          .input_mem_info__bottom_contents__main_form__group__top_contents__string
            %h3 パスワード
          .input_mem_info__bottom_contents__main_form__group__top_contents__essential_icon
            %p 必須
        .input_mem_info__bottom_contents__main_form__group__bottom_content
          %p 7文字以上の半角英数字


        .input_mem_info__bottom_contents__main_form__group__valid
          %p ※ 英字と数字の両方を含めて設定してください
        .input_mem_info__bottom_contents__main_form__group__check_box
          パスワードを表示する
          = check_box_tag :check1 do
            = label_tag :check1, "パスワードを表示する"


      .input_mem_info__bottom_contents__main_form__identity_verification
        %h1 本人確認
        %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。


      .input_mem_info__bottom_contents__main_form__real_name
        .input_mem_info__bottom_contents__main_form__real_name__top_contents
          .input_mem_info__bottom_contents__main_form__real_name__top_contents__string
            %h1 お名前(全角)
          .input_mem_info__bottom_contents__main_form__real_name__top_contents__essential_icon
            %p 必須
        .input_mem_info__bottom_contents__main_form__real_name__bottom_contents
          .input_mem_info__bottom_contents__main_form__real_name__bottom_contents__last_name
            %p 例) 山田
          .input_mem_info__bottom_contents__main_form__real_name__bottom_contents__first_name
            %p 例) 太郎


      .input_mem_info__bottom_contents__main_form__real_name
        .input_mem_info__bottom_contents__main_form__real_name__top_contents
          .input_mem_info__bottom_contents__main_form__real_name__top_contents__string
            %h お名前カナ(全角)
          .input_mem_info__bottom_contents__main_form__real_name__top_contents__essential_icon
            %p 必須
        .input_mem_info__bottom_contents__main_form__real_name__bottom_contents
          .input_mem_info__bottom_contents__main_form__real_name__bottom_contents__last_name
            %p 例) ヤマダ
          .input_mem_info__bottom_contents__main_form__real_name__bottom_contents__first_name
            %p 例) タロウ


      .input_mem_info__bottom_contents__main_form__birth_day
        .input_mem_info__bottom_contents__main_form__birth_day__top_contents
          .input_mem_info__bottom_contents__main_form__birth_day__top_contents__string
            %h1 生年月日
          .input_mem_info__bottom_contents__main_form__birth_day__top_contents__essential_icon
            %p 必須
        .input_mem_info__bottom_contents__main_form__birth_day__bottom_contents
          .birthday_select_wrap
            %i.icon_arrow_bottom
            %select.select_default
              %option{:value => ""} ____
              %option{:value => "1"} 2020
              %option{:value => "2"} 2019
              %option{:value => "3"} 2018
              %option{:value => "4"} 2017
              %option{:value => "5"} 2016
              %option{:value => "6"} 2015
              %option{:value => "7"} 2014
              %option{:value => "8"} 2013
              %option{:value => "9"} 2012
            %p.select-wrap 年

            %i.icon_arrow_bottom
            %select.select_default
              %option{:value => ""} ____
              %option{:value => "1"} 1
              %option{:value => "2"} 2
              %option{:value => "3"} 3
              %option{:value => "4"} 4
              %option{:value => "5"} 5
              %option{:value => "6"} 6
              %option{:value => "7"} 7
              %option{:value => "8"} 8
              %option{:value => "9"} 9
              %option{:value => "7"} 10
              %option{:value => "8"} 11
              %option{:value => "9"} 12
            %p.select-wrap 月

            %i.icon_arrow_bottom
            %select.select_default
              %option{:value => ""} ____
              %option{:value => "1"} 1
              %option{:value => "2"} 2
              %option{:value => "3"} 3
              %option{:value => "4"} 4
              %option{:value => "5"} 5
              %option{:value => "6"} 6
              %option{:value => "7"} 7
              %option{:value => "8"} 8
              %option{:value => "9"} 9
              %option{:value => "10"} 10
              %option{:value => "11"} 11
              %option{:value => "12"} 12
              %option{:value => "13"} 13
              %option{:value => "14"} 14
              %option{:value => "15"} 15
              %option{:value => "16"} 16
              %option{:value => "17"} 17
              %option{:value => "18"} 18
              %option{:value => "19"} 19
              %option{:value => "20"} 20
              %option{:value => "21"} 21
              %option{:value => "22"} 22
              %option{:value => "23"} 23
              %option{:value => "24"} 24
              %option{:value => "25"} 25
              %option{:value => "26"} 26
              %option{:value => "27"} 27
              %option{:value => "28"} 28
              %option{:value => "29"} 29
              %option{:value => "30"} 30
              %option{:value => "31"} 31
            %p.select-wrap 日
          %p.caution ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

    .input_mem_info__bottom_contents__bottom_form
      .input_mem_info__bottom_contents__bottom_form__top-content
        %p 「次へ進む」のボタンを押すことにより、
        = link_to "#", class: "rule" do
          = "利用規約"
        に同意したものとみなします。
          
           
      .input_mem_info__bottom_contents__bottom_form__submit_btn
        %p 次へ進む
      .input_mem_info__bottom_contents__bottom_form__middle_content
        = link_to "#", class: "about_register" do
          %p.about_register 本人情報の登録について >


      .input_mem_info__bottom_contents__bottom_form__bottom_content
        %p
          This site is protected by reCAPTCHA and the Google
          %a.privacy_font{href: "https://policies.google.com/privacy"} Privacy Policy
          and
          %a.privacy_font{href: "https://policies.google.com/terms"} Terms of Service
          apply.