.signup_address
  = render "/devise/shared/signup_header"
  .card
    .card__bottom_contents
      .card__bottom_contents__top
        %h2.top_string 支払い方法
      .card__bottom_contents__bottom
        = form_tag(cards_path, method: :post, id: 'charge-form',  name: "inputForm") do 
          .card__bottom_contents__bottom__box
            .card__bottom_contents__bottom__box__top
              .card__bottom_contents__bottom__box__top__title
              %p カード番号
              .card__bottom_contents__bottom__box__top__essential_icon
                %p 必須
            = text_field_tag "number", "", class: "card__bottom_contents__bottom__box__input", placeholder: "半角数字のみ" ,maxlength: "16", type: "text", id: "number"
            .card__bottom_contents__bottom__box__card_icon
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2482339763", size: "59x30",alt:"visa"
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2482339763", size: "44x30",alt:"master-card"
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2482339763", size: "40x30",alt:"saison-card"
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2482339763", size: "42x30",alt:"jcb"
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2482339763", size: "31x30",alt:"american_express"
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2482339763", size: "42x30",alt:"dinersclub"
              =image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2482339763", size: "42x30",alt:"discover"
            .card__bottom_contents__bottom__box__bottom
              %label
                有効期限
                %span
                  必須
                %br
              %select#exp_month{name: "exp_month", type: "text"}
                %option{value: ""} --
                %option{value: "1"}01
                %option{value: "2"}02
                %option{value: "3"}03
                %option{value: "4"}04
                %option{value: "5"}05
                %option{value: "6"}06
                %option{value: "7"}07
                %option{value: "8"}08
                %option{value: "9"}09
                %option{value: "10"}10
                %option{value: "11"}11
                %option{value: "12"}12
              %span 月
              %br
              %select#exp_year{name: "exp_year", type: "text"}
                %option{value: ""} --
                %option{value: "2020"}20
                %option{value: "2021"}21
                %option{value: "2022"}22
                %option{value: "2023"}23
                %option{value: "2024"}24
                %option{value: "2025"}25
                %option{value: "2026"}26
                %option{value: "2027"}27
                %option{value: "2028"}28
                %option{value: "2029"}29
              %span 年
              %br
              %br
              %br
              セキュリティーコード
              %span
              %a.card__bottom_contents__bottom__box__bottom__essential_icon
                必須
              %br
              = text_field_tag "cvc", "", class: "card__bottom_contents__bottom__box__bottom__cvc_code", placeholder: "カード背面3~4桁の番号", maxlength: "4", id: "cvc"
              .card__bottom_contents__bottom__box__bottom__seqcode
                %span.card__bottom_contents__bottom__box__bottom__seqcode__mark ?
                %span.card__bottom_contents__bottom__box__bottom__seqcode__text カード背面の番号とは？
              #card_token
          -# %input.next-btn{type: 'submit',value: '次へ進む',class:"step4__bottom_contents__bottom__box__submit_btn"} 
          = submit_tag "次へ進む", class:"step4__bottom_contents__bottom__box__submit_btn",id: "token_submit", type: "submit"
    
  = render "/items/sheard/icon_footer"